@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
  color: white;
  background-color: #474d58;
  min-height: 100vh;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: aqua;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.5ex;
}

p {
  line-height: 25px;
  font-size: 16px;
}
